<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
      		class="com.android.ide.eclipse.scirocco.internal.launch.junit.AndroidJUnitLaunchShortcut"
            icon="icons/androidjunit.png"
            id="com.android.ide.eclipse.scirocco.junit.launchShortcut"
            label="Scirocco JUnit Test"
            modes="run,debug">
          <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                      <adapt type="org.eclipse.jdt.core.IJavaElement">
                        <test property="org.eclipse.jdt.core.isInJavaProjectWithNature" value="com.android.ide.eclipse.adt.AndroidNature"/>
                        <test property="org.eclipse.jdt.core.hasTypeOnClasspath" value="junit.framework.Test"/>
                        <test property="com.android.ide.eclipse.scirocco.canLaunchAsJUnit"/>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
             id="com.android.ide.eclipse.scirocco.junit.launchConfigurationType">
         </configurationType>
      </shortcut>
   </extension>
    <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.android.ide.eclipse.scirocco.internal.launch.junit.AndroidJUnitLaunchConfigDelegate"
            id="com.android.ide.eclipse.scirocco.junit.launchConfigurationType"
            modes="run,debug"
            name="Android JUnit Test"
            public="true"
            sourceLocatorId="com.android.ide.eclipse.scirocco.internal.sourcelookup.AdtSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
    <extension point="org.eclipse.debug.core.sourceLocators">
     <sourceLocator
       id="com.android.ide.eclipse.scirocco.internal.sourcelookup.AdtSourceLookupDirector"
       class="com.android.ide.eclipse.scirocco.internal.sourcelookup.AdtSourceLookupDirector"
       name="%sourceLocator.name">
     </sourceLocator>
   </extension>
   
    <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            properties="isTest,canLaunchAsJUnit"
            namespace="com.android.ide.eclipse.scirocco"
            type="org.eclipse.core.runtime.IAdaptable"
            class="com.android.ide.eclipse.scirocco.internal.launch.junit.AndroidJUnitPropertyTester"
            id="com.android.ide.eclipse.scirocco.AndroidJUnitPropertyTester">
      </propertyTester>
   </extension>
   
      <extension
         id="AndroidNature"
         name="Android Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="com.android.ide.eclipse.scirocco.internal.project.AndroidNature"/>
      </runtime>
      <builder id="com.android.ide.eclipse.adt.ResourceManagerBuilder"/>
      <builder id="com.android.ide.eclipse.adt.PreCompilerBuilder"/>
      <builder id="com.android.ide.eclipse.adt.ApkBuilder"/>
   </extension>
   <extension
         id="ExportNature"
         name="Android Export Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.android.ide.eclipse.scirocco.internal.project.AndroidExportNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
         <initializer
               class="com.android.ide.eclipse.scirocco.preference.SciroccoPreferenceInitializer">
         </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.android.ide.eclipse.scirocco.preference.SciroccoPreferencePage2"
            id="com.android.ide.eclipse.scirocco.preference.page"
            name="Scirocco">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
     <editor
            class="com.android.ide.eclipse.scirocco.internal.editors.layout.LayoutEditor"
            contributorClass="com.android.ide.eclipse.scirocco.internal.editors.layout.LayoutEditorActionContributor"
            default="false"
            extensions="xml"
            icon="icons/android_file.png"
            id="com.android.ide.eclipse.scirocco.internal.editors.layout.LayoutEditor"
            matchingStrategy="com.android.ide.eclipse.scirocco.internal.editors.layout.MatchingStrategy"
            name="Scirocco Layout Editor">
      </editor>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
         <category
         	name="サンプル・カテゴリー"
         	id="scirocco.commands.category">
         </category>
         <command
         	name="Sample Command"
         	categoryId="scirocco.commands.category"
         	id="scirocco.commands.addJarCommand">
         </command>
     </extension>
     <extension point="org.eclipse.ui.handlers">
     	<handler
     		commandId="scirocco.commands.addJarCommand"
     		class="scirocco.handlers.AddJarHandler">
     	</handler>
     </extension>
     <extension point="org.eclipse.ui.bindings">
     	<key
     		commandId="scirocco.commands.addJarCommand"
     		contextId="org.eclipse.ui.contexts.window"
     		sequence="M1+6"
     		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
   		</key>
	</extension>
	
<extension point="org.eclipse.ui.menus">
	<!--
	<menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=additions">
		<menu
			label="サンプルメニュー"
			mnemonic="M"
			id="scirocco.menus.sampleMenu">
			<command
				commandId="scirocco.commands.addJarCommand"
				id="scirocco.toolbars.sampleCommand"
				label="サンプル・コマンド">
			</command>
		</menu>
	</menuContribution>

	<menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
		<toolbar id="scirocco.toolbars.sampleToolbar">
			<command
				commandId="scirocco.commands.addJarCommand"
				id="scirocco.toolbars.addJarCommand"
				label="サンプル・コマンド"
				tooltip="Say hello world">
			</command>
		</toolbar>
	</menuContribution>
	-->
	
	<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
		<!-- ポップアップへのコントリビューション-->		
		<command
			commandId="scirocco.commands.addJarCommand"
			id="scirocco.toolbars.addJarCommand"
			label="Add Scirocco JARS">
			<visibleWhen>
				<with
					variable="selection">
					<iterate>
						<adapt
							type="org.eclipse.core.resources.IProject">
						</adapt>
					</iterate>
				</with>
			</visibleWhen>
		</command>
	</menuContribution>
	
</extension>
				
</plugin>
     	
     	
         